<% title = 'Travels with Tess' %>
  <div class="container">
    <h1>Create Post</h1>
    <% if (typeof error !== 'undefined') { %>
      <div class="alert alert-danger">
        <%= error %>
      </div>
    <% } %>
    <form action="/posts/create" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control mb-3" id="title" name="title" required>
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control mb-3" id="content" name="content" rows="3" required></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control-file mb-3" id="image" name="imageURL">
      </div>
      <button type="submit" class="btn btn-primary mb-3">Create</button>
    </form>
  </div>
  // <!-- Path: views/edit.ejs -->
  // <!-- Create.ejs form for uploading photos and creating posts-->
 