<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

</head>
<body>
  <h1>Welcome to <%= title %></h1>
  <p>Feel free to explore posts and comments. </p>
</body>
</html>
