<% title = 'Travels with Tess' %>

<div class="container">
  <h1 class="pb-4"><%= title %></h1>
  <div class="pb-3">Explore posts and comments about our grand trip in our Tesla named Tess, filled with discovery and wonder. The best is yet to come!</div>
  <figure class="figure">
    <img src="/assets/images/StevePattyTess.jpg" alt="Steve Patty Tess" class="figure-img img-fluid custom-border" >
</figure> 
</div>

