<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg m-0 fixed-top">
        <a class="navbar-brand" href="/">
            <img src="/assets/images/black-logo.png" height="40px" alt="Travels with Tess Logo" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                </li>
                <li class="nav-item">
                    <% if (user && (user.username === 'Steve' || user.username === 'Patty')) { %>
                        <a class="nav-link" href="/users/register">Register</a>
                      <% } %>
                </li>
                <li class="nav-item">
                    <% if (user && (user.username === 'Steve' || user.username === 'Patty')) { %>
                        <a class="nav-link" href="/posts/create">Create Post</a>
                      <% } %>
                </li>
                <li class="nav-item">
                    <% if (user) { %>
                        <a class="nav-link" href="/users/logout">Logout</a>
                      <% } %>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-lg-10">
            <%- body %>
        </div>
        </div>
        <footer class="text-center mb-0 mt-5" >&copy;2023 Nathan Stepper All Rights Reserved</footer>
    </div>
    <!-- include Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
