<% title = 'Travels with Tess' %>

  <div class="container">
    <h1>Login</h1>
    <fieldset>
      <legend>Enter your username and password</legend>
     
    <form class="mb-3" action="/users/login" method="post">
      <div class="col-md-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control TextBox" id="username" name="username" required>
      </div>
      <div class="col-md-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control TextBox" id="password" name="password" required>
      </div>
      <div class="col-12">
      <button type="submit" class="btn">Login</button>
      </div>
    </form>
    </fieldset>
  </div>

