<% title = 'Travels with Tess' %>
<div class="container">
    <h1>No Posts</h1>
    <p>There are currently no posts to display. Please check back later.</p>
    <a href="/">Go back to homepage</a>
</div>

