<% title = 'Travels with Tess' %>
<div class="container">
  <% if (typeof message !== 'undefined') { %>
    <h2><%= message %></h2>
  <% } else { %>
    <% posts.forEach(post => { %>
      <h1><%= post.title %></h1>
      <p>Posted by <%= post.User.username %></p>
      <p><%= post.content %></p>
      <hr>
    <% }) %>
  <% } %>
</div>
