/* styles.css */

/* Global styles */
* {
  color: aliceblue;
  text-shadow: -5px 6px 7px rgba(0, 0, 0, 0.5);
}

.navbar {
position: sticky;
background: rgba(0, 0, 0, 0.55);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);;
align-items: center;
text-align: center;
height: 70px;
margin-top: 10px;
color: aliceblue;
}

.navbar-collapse {
  z-index: 1000;
}

.navbar-nav {
text-align: center;
margin-top: 10px;
color: red;
}

.nav-link {
  margin: 5px;
  padding: 5px;
  color: aliceblue;
}

.nav-link:hover {
  color: red;
}

.nav-link:active {
  color: red;
}

.nav-link:visited {
  color: #C0C0C0;
}
.navbar-brand:active img {
  content: url("/assets/images/red-logo.png");
}


.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(222, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-border {
  border-style: double;
  border-width: 5px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    32deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(7, 46, 146, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
}

h1,
h2,
h3 {
  margin: 0.1em;
  padding: 0.1em;
  color: #C0C0C0; 
}


header {
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  color: #fff;
  padding: 20px;
  
}

main {
  padding: 20px;
  flex: 1;
}

.btn {
  align-items: center;
  background-color: #FCFCFD;
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  transition: box-shadow .15s,transform .15s;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
}

.btn:focus {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
background-color: #FCFCFD;
color: black;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  background-color: #FCFCFD;
  color: black;
}

.btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
  background-color: #FCFCFD;
  color: black;
}

.container-fluid   {
  margin-top: 80px;
  min-height: 80vh; /* Set a fixed height for the container */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds container height */
}

 figure img{
  box-shadow:   -30px 50px 15px rgba(0, 0, 0, 0.3);
}

footer {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border-radius: 100px;
  color: #C0C0C0;
  padding: 20px;
  text-align: center;
  margin: 10px;
  position: static;
}

form label{
  margin: 10px;
}

fieldset {
  border-style: double;
  border-color: #fff;
  border-width: thick;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(11px);
}

fieldset h1 a {
  color: #C0C0C0;
  text-shadow: -1px 2px 6px rgba(0, 0, 0, 0.5);
}


.TextBox {
  padding: 10px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  text-shadow: -1px 2px 6px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 5px;
  padding: 5px;
}

.card-body h2 {
color: black;
text-shadow: -1px 2px 6px rgba(0, 0, 0, 0.5);
}

.card-body h6 {
color: grey;
text-shadow: -1px 2px 6px rgba(0, 0, 0, 0.5);
}

.card-body h7 {
  color: grey;
  text-shadow: -1px 2px 6px rgba(0, 0, 0, 0.5);
}
/* Specific styles for each page */


/* Responsive styles */
@media (max-width: 768px) {
  header {
    font-size: 24px;
    padding: 10px;
  }

  main {
    padding: 10px;
  }

  footer {
    font-size: 14px;
    padding: 10px;
  }
}
